.img-fluid {
  width: 100%;
  height: auto;
  margin: 1em;
}
.img-container {
  position: relative;
  align-items: center;
  padding: 1rem;
  width: 80%;
  margin: 20px auto;
}
.navbar {
  background-color: #add3f8;
  padding: 1rem;
  text-align: center;
}
.bio.html {
  max-width: 800px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0 1rem;
}
.bio.html h1, .bio.html h2 {
  color: #333;
}